{{#models}}
{{#model}}
export * from './{{{ classFilename }}}';
{{/model}}
{{/models}}

import Big from 'big.js'

export interface BigDecimal {
}

export function BigDecimalFromJSON(json: any): BigDecimal {
    return BigDecimalFromJSONTyped(json, false);
}

export function BigDecimalFromJSONTyped(json: any, ignoreDiscriminator: boolean): BigDecimal {
    if ((json === undefined) || (json === null)) {
        return json;
    }
    return new Big(json);
}

export function BigDecimalToJSON(value?: BigDecimal | null): any {
    if (value === undefined) {
        return undefined;
    }
    if (value === null) {
        return null;
    }
    return value.toString();
}
